<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="custom-table">
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Size</th>
    <th>Price</th>
    <th>edit</th>
    <th>delete</th>
    <!--                <th>order</th>-->
  </tr>
  <tr th:each="pizza: ${pizzas}">
    <td th:text="${pizza.id}">id</td>
    <td th:text="${pizza.name}">name</td>
    <td th:text="${pizza.description}">description</td>
    <td th:text="${pizza.size}">size</td>
    <td th:text="${pizza.price}">price</td>
    <td><a th:href="@{${pizza.id}}"><img th:width="25px" src="https://img.icons8.com/metro/26/000000/pencil.png"></a> </td>
    <td><a th:href="@{'delete/' + ${pizza.id}}"><img th:width="25px" src="https://img.icons8.com/ios/50/000000/trash-filled.png"></a> </td>
    <!--                <td><a th:href="@{/order/create?type=pizza&productId={id}(id=${pizza.id})}"><img th:width="25px" src="https://img.icons8.com/dotty/80/000000/add-shopping-cart.png"></a></td>-->
  </tr>
</table>
<hr>
<hr>
<!--<form th:object="${pizza}" th:action="@{/admin/pizzainsert}" method="post">

  <input type="hidden" th:field="*{id}" id="id" placeholder="price">

  <label for="name">Name</label>
  <input type="text" th:field="*{name}" id="Name" placeholder="Name">
  <br>

  <label for="description">Description</label>
  <input type="text" th:field="*{description}" id="Description" placeholder="Description">
  <br>

  <label for="price">Price</label>
  <input type="number" th:field="*{price}" id="price" placeholder="price">
  <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
  <br>

  <label for="size">Size</label>
  <input type="number" th:field="*{size}" id="size" placeholder="size">
  <span th:if="${#fields.hasErrors('size')}" th:errors="*{size}"></span>
  <br>
  <input type="submit" value="Add Pizza">
</form>-->
</body>
</html>